.gridContainer {
    background-color: beige;
    display: grid;
    grid-gap: 0px;
    border: solid;
    border-width: 1px;
    width: 600px;
    height: 600px;
}

.gridBox {
    background-color: beige;
    margin: 0;
}

